

h1{
    color:white;
}

body{
    background-color: #141E30;
}

*{
    box-sizing: border-box;
    text-align: left;
    font-family: Helvetica;
    min-width: 400;
    max-width: 1000;

}

p{
    text-align: left;
    color:white;
    font-weight: bold;
    border: 2px none grey;
    min-width: 400px;
    max-width: 1000px;
}

h2{
    color:darkcyan2;
    font-weight: bold;
}

a{
    color:darkgray;
}

#foto{
    height: 500px;
    border: 1px dotted grey;
}

#projectstitle{
      color:white;
      font-weight: bold;
}

nav{
    background-color: darkcyan;
}

nav ul li{
    border: 1px solid white;
    position: relative;
    display: inline-block;
    width: 100px;
}