

h1{
    color:white;
}

body{
    background-color: #141E30;
}

*{
    box-sizing: border-box;
    text-align: left;
    font-family: Helvetica;


}

p{
    text-align: left;
    color:white;
    font-weight: bold;
    border: 2px none grey;
    min-width: 400px;
    max-width: 1000px;
}

h2{
    color:darkcyan;
    font-weight: bold;
}

a{
    color:darkgray;
}

#foto{
    height: 500px;
    border: 1px dotted grey;
}

#projectstitle{
      color:white;
      font-weight: bold;
}

nav{
    background-color: darkcyan;
}

.navitem{
    position: fixed;
    top: 0;
    display: inline-block;
    color: white;
    font-weight: bold;
    width: 100px;
    border: 1px solid white;
}

#postlabel{
    position: relative;
    color:aliceblue

}