.hero {
    position: relative;
    background-color: var(--overlay); /* This might still be useful for older browsers */
    margin: auto;
    padding: 8rem 1rem 0 1rem;
    width: 100%;
    color: #f8f8f8;
}

.hero:before {
    content: '';
    background: url('./images/hero.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--overlay);
    mix-blend-mode: multiply; /* This blends the overlay with the background image */
}

.hero.container {
    width: 1240px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hero h2 {
    font-size: 3rem;
}

.hero .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.hero .col-2 p:first-of-type {
    margin: 2rem 0;
}

.hero .col-2 p:nth-child(4) {
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 600;
}

.hero button {
    margin-top: 1rem;
}

@media screen and (max-width:940px) {
    .hero .container {
        grid-template-columns: 1fr;
    }

    .hero .container {
        width: 100%;
    }

    .hero .container img {
        padding: 0rem;
        width: 90vw;
    }

    .hero .container .col-2 {
        padding: 0;
    }

    .hero button {
        margin-bottom: 1rem;
    }
}

/* In your .css file */
.resized-image {
    width: 200px; /* or any desired width */
    height: auto; /* maintains aspect ratio */
}


